<style type="text/css">
body{
	background-color: purple;
}

h1{
	font-size: 30px;
	color: salmon;
}
h2{
	color: green;
	font-size: 15px;
}
h2{
	color: red
}
.big{
	font-size:50px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: purple;
}
h1 span{
	color: violet;
}
</style>